venv/
*.env

*.pyc
__pycache__/

.pytest_cache/
.coverage

dist/
build/
*.egg-info/
*.eggs/

.idea/

config/config.ini
config/aws/
config/google/

*.xml
*.json
*.wav
*.mp3
*.ogg
*.flac

resources/sctk/
/notebooks/.ipynb_checkpoints/

doc/
latex/
files/