[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
google-cloud-speech = "*"
boto3 = "*"
protobuf = "*"
google-cloud-storage = "*"
num2words = "*"
asr-evaluation = "*"
lxml = "*"
appnope = "*"
google-cloud-language = "*"

[dev-packages]

[requires]
python_version = "3.8"
