[AWS_Comprehend]
OUTPUT_BUCKET_NAME = fonti4.0
OUTPUT_KEY_PREFIX = ner/outputs/
INPUT_BUCKET_NAME = fonti4.0
INPUT_KEY_PREFIX = ner/inputs/
TRANSCRIPTION_JOB_NAME_PREFIX = fonti4.0_detect_entities_job
AWS_ACCESS_KEY_ID =
AWS_SECRET_ACCESS_KEY =

[AWS_Transcribe]
REDACTION_OUTPUT =
REDACTION_TYPE =
IDENTIFY_LANGUAGE = False
ALLOW_DEFERRED_EXECUTION =
DATA_ACCESS_ROLE_ARN =
LANGUAGE_CODE = it-IT
LANGUAGE_OPTIONS =
MEDIA_SAMPLE_RATE_HERTZ = 48000
LANGUAGE_MODEL_NAME =
OUTPUT_BUCKET_NAME = fonti4.0
OUTPUT_ENCRYPTION_KMS_KEY_ID =
OUTPUT_KEY_PREFIX = transcriptions/
CHANNEL_IDENTIFICATION = False
MAX_ALTERNATIVES =
MAX_SPEAKER_LABELS = 10
SHOW_ALTERNATIVES = False
SHOW_SPEAKER_LABELS = True
VOCABULARY_FILTER_METHOD =
VOCABULARY_FILTER_NAME =
VOCABULARY_NAME =
TRANSCRIPTION_JOB_NAME_PREFIX = fonti4.0_long_transcription_job
TRANSCRIBE_JOB_MAX_TRIES = 360
INPUT_BUCKET_NAME = fonti4.0
INPUT_KEY_PREFIX = speeches/
AWS_ACCESS_KEY_ID =
AWS_SECRET_ACCESS_KEY =
TRANSCRIPTION_OUTPUT_PATH = ../files/transcriptions/aws
CANONICAL_TRANSCRIPTION_OUTPUT_PATH = ../files/transcriptions/aws/canonical
TRN_OUTPUT_PATH = ../files/transcriptions/aws/trn
CTM_OUTPUT_PATH = ../files/transcriptions/aws/ctm
TXT_OUTPUT_PATH = ../files/transcriptions/aws/txt
BACKTRACE_OUTPUT_PATH = ../files/backtrace/aws
REPORT_OUTPUT_PATH = ../files/reports/aws

[Evaluator]
PUNCTUATION = False
APOCOPES = True
DIACRITICS = True
STOP_WORDS = True
ELISIONS = True

[Google_STT]
ENCODING = LINEAR16
SAMPLE_RATE_HERTZ = 48000
AUDIO_CHANNEL_COUNT = 1
ENABLE_SEPARATE_RECOGNITION_PER_CHANNEL = False
LANGUAGE_CODE = it-IT
ALTERNATIVE_LANGUAGE_CODES =
MAX_ALTERNATIVES = 1
PROFANITY_FILTER = False
ENABLE_WORD_TIME_OFFSETS = True
ENABLE_WORD_CONFIDENCE = True
ENABLE_AUTOMATIC_PUNCTUATION = True
ENABLE_SPEAKER_DIARIZATION = True
MIN_SPEAKER_COUNT = 1
MAX_SPEAKER_COUNT = 10
MODEL = default
USE_ENHANCED = False
LONG_RECOGNIZE_TIMEOUT = 3600
INPUT_BUCKET_NAME = fonti40_cini
INPUT_BLOB_PREFIX = speeches/
PROJECT_ID = model-marker-307109
SERVICE_ACCOUNT_JSON_FILE_PATH =
TRANSCRIPTION_OUTPUT_PATH = ../files/transcriptions/google
CANONICAL_TRANSCRIPTION_OUTPUT_PATH = ../files/transcriptions/google/canonical
TRN_OUTPUT_PATH = ../files/transcriptions/google/trn
CTM_OUTPUT_PATH = ../files/transcriptions/google/ctm
TXT_OUTPUT_PATH = ../files/transcriptions/google/txt
REPORT_OUTPUT_PATH = ../files/reports/google

[Speeches]
SPEECH_FILES_PATH = ../files/speeches

[TEI]
XSD_SCHEMA_PATH = ../resources/tei/validation/tei_speech.xsd
TEI_FILES_PATH = ../files/tei
CANONICAL_TRANSCRIPTION_OUTPUT_PATH = ../files/tei/canonical
TRN_OUTPUT_PATH = ../files/tei/trn
STM_OUTPUT_PATH = ../files/tei/stm
TXT_OUTPUT_PATH = ../files/tei/txt

[Tokenizer]
LOWERCASE = True
SPLIT_APOSTROPHES = True
EXPAND_CONTRACTED_WORDS = False
EXPAND_COMPOUND_WORDS = False
MULTI_SPELLED_WORDS = False
NUMBERS_TO_WORD = False